{% extends "JR_SISTEMAS/bases/base.html" %}

{% load static %}

{% block content %}

<body>
    <div class="container">
        <h2>Registrarse</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">{{ form.username.label }}</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="alert alert-danger">{{ form.username.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_email">{{ form.email.label }}</label>
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="alert alert-danger">{{ form.email.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_password1">{{ form.password1.label }}</label>
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <div class="alert alert-danger">{{ form.password1.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_password2">{{ form.password2.label }}</label>
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <div class="alert alert-danger">{{ form.password2.errors }}</div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
    </div>
</body>

{% endblock %}